page-produto {

img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

.buttonAdd {
	width: 350px;
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    
	 
}


}
